#Coursera Capstone Project

## Instructions

Start a Jupyter Notebook using any platform that you are comfortable with and do the following:

**1.** Write some markdown to explain that this notebook will be mainly used for the capstone project.

This Jupyter Notebook is going to be used mainly for the developement of the Capstone Project.

**2.** Import the pandas library as pd.<br> 
**3.** Import the Numpy library as np.

In [0]:
import pandas as pd
import numpy as np

**4.** Print the following the statement: Hello Capstone Project Course!

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

Push the Notebook to your Github repository and submit a link to the notebook on your Github repository.

In [0]:
pd.options.display.max_rows = 999

In [0]:
df = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', match='Postal code', header =0)[0]

In [120]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [0]:
# We get the index of registers whose Boroughs are not assigned
indexNames = df[df.Borough=='Not assigned'].index

# We dop the rows in which the Borough is not assigned
df.drop(indexNames,inplace=True)

In [0]:
df.reset_index(drop=True, inplace=True)

In [0]:
df['Neighborhood'] = df['Neighborhood'].apply(lambda x: x.replace(' /',','))

In [138]:
df.head(12)

   Postal code  ...                                       Neighborhood
0          M3A  ...                                          Parkwoods
1          M4A  ...                                   Victoria Village
2          M5A  ...                          Regent Park, Harbourfront
3          M6A  ...                   Lawrence Manor, Lawrence Heights
4          M7A  ...        Queen's Park, Ontario Provincial Government
5          M9A  ...                                   Islington Avenue
6          M1B  ...                                     Malvern, Rouge
7          M3B  ...                                          Don Mills
8          M4B  ...                    Parkview Hill, Woodbine Gardens
9          M5B  ...                           Garden District, Ryerson
10         M6B  ...                                          Glencairn
11         M9B  ...  West Deane Park, Princess Gardens, Martin Grov...

[12 rows x 3 columns]