#Coursera Capstone Project

## Instructions

Start a Jupyter Notebook using any platform that you are comfortable with and do the following:

**1.** Write some markdown to explain that this notebook will be mainly used for the capstone project.

This Jupyter Notebook is going to be used mainly for the developement of the Capstone Project.

**2.** Import the pandas library as pd.<br> 
**3.** Import the Numpy library as np.

In [0]:
import pandas as pd
import numpy as np

**4.** Print the following the statement: Hello Capstone Project Course!

In [0]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

Push the Notebook to your Github repository and submit a link to the notebook on your Github repository.

In [0]:
pd.read_html?

In [0]:
df = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', match='Postal code', header =0)

In [33]:
type(df[0])

pandas.core.frame.DataFrame

In [36]:
df[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal code   180 non-null    object
 1   Borough       180 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [60]:
df[0].columns

Index(['Postal code', 'Borough', 'Neighborhood'], dtype='object')

In [67]:
df[0].index

RangeIndex(start=0, stop=180, step=1)

In [65]:
df[0].describe()

       Postal code       Borough Neighborhood
count          180           180          103
unique         180            11           98
top            M2L  Not assigned    Downsview
freq             1            77            4